<% if @developer.name %>
  <% @form_url = developer_path(@developer.name) %>
<% else %>
  <% @form_url = nil %>
<% end %>
<%= form_for(@developer, :url => @form_url) do |f| %>
  <% if @developer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@developer.errors.count, "error") %> prohibited this developer from being saved:</h2>

      <ul>
      <% @developer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :introduction %><br>
    <%= f.text_area :introduction %>
  </div>
  <div class="field">
    <%= f.label :education %><br>
    <%= f.text_area :education %>
  </div>
  <div class="field">
    <%= f.label :homepage_content %><br>
    <%= f.text_area :homepage_content %>
  </div>
  <div class="field">
    <%= f.label :edupage_content %><br>
    <%= f.text_area :edupage_content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
