<p id="notice"><%= notice %></p>

<h1>Listing Developers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Introduction</th>
      <th>Education</th>
      <th>homepage_content</th>
      <th>edupage_content</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @developers.each do |developer| %>
      <tr>
        <td><%= developer.name %></td>
        <td><%= developer.introduction %></td>
        <td><%= developer.education %></td>
        <td><%= developer.homepage_content %></td>
        <td><%= developer.edupage_content %></td>
        <td><%= link_to "Show", developer_path(developer.name) %></td>
        <!-- <td><%= link_to 'Show', developer %></td> -->
        <td><%= link_to 'Edit', edit_developer_path(developer.name) %></td>
        <td><%= link_to 'Destroy', developer_path(developer.name), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Developer', new_developer_path %>
