<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @developer.name %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @developer.introduction %>
</p>

<p>
  <strong>Education:</strong>
  <%= @developer.education %>
</p>

<%= link_to 'Edit', edit_developer_path(@developer) %> |
<%= link_to 'Back', developers_path %>
