<%= form_for(@comment, remote: true) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h4 class="page-header">Your comment</h4>
  <div class="field">
    <%= f.text_area :body, :class => "form-control", data:{ provider: :summernote } %>
    <span id="helpBlock" class="help-block">Say something about this post</span>
  </div>
  <div class="actions">
    <%= f.hidden_field :post_id %>
    <%= hidden_field_tag(:post_id, @comment.post_id) %>
    <%= f.submit "Post your comment", :class => "btn btn-info" %>
  </div>
<% end %>
