<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>

</p>

<p>
  <strong>Type:</strong>
  <%= @user.type %>
</p>

<% if @user.is_dev? %>
  <% developer = @user %>
  <p>
  	<strong>Introduction:</strong>
  	<%= developer.introduction %>
  </p>
  <p>
  	<strong>Contact Info:</strong>
  	<%= developer.contact_info %>
  </p>
  <% developer.page_contents.each do |page| %>
    <p>
      <strong>Page Content Name:</strong>
      <%= page.page_name %>
    </p>
    <p>
      <strong>Page Content HTML:</strong>
      <%= page.html_content %>
    </p>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_user_path(@user.name) %> |
<%= link_to 'Back', users_path %>
