<div class="container">

  <h4 class="page-header"><%= @user.name %></h4>

  <% if @user.name == "xhan" %>
    <p>
      <strong>Developer Code:</strong>
      <%= get_developer_code %>
    </p>
  <% end %>

  <% if @user.is_developer? %>
    <p>you are a developer of Archare</p>
    <% developer = @user %>
    <p>
      <strong>Introduction:</strong>
      <%= developer.introduction %>
    </p>
    <p>
      <strong>Contact Info:</strong>
      <%= developer.contact_info %>
    </p>
    <a href='/developers/<%= @user.name  %>/client_info'><p><strong>Client visiting records</strong></p></a>
    
  <% end %>


  <%= link_to 'Edit', edit_user_path(@user.name), class: "btn btn-info" %>

</div>

