<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>

</p>

<p>
  <strong>Type:</strong>
  <%= @user.type %>
</p>

<% if @user.is_dev? %>
  <p>
  	<strong>Introduction:</strong>
  	<%= @user.introduction %>
  </p>
  <p>
  	<strong>Contact Info:</strong>
  	<%= @user.contact_info %>
  </p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user.name) %> |
<%= link_to 'Back', users_path %>
