<div class="container">
  <div class="row">
    <div class="page-header col-md-12">
      <h3 class="archare-cat-header">Tags visualization</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="btn-group btn-group-sm graph-btns pull-right" role="group" aria-label="...">
        <% graph_types = ['force-directed-graph'] %>
        <button type="button" class="btn btn-default graph-btn <%= 'active' unless graph_types.include? params[:graph_type] %>" id="bubble-chart-btn">Bubble</button>
        <button type="button" class="btn btn-default graph-btn <%= 'active' if(params[:graph_type] == 'force-directed-graph') %>" id="force-directed-graph-btn">Force directed</button>
      </div>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-8" id="tags-panel">     
    </div>
    <div class="col-md-offset-1 col-md-2">
      <ul class="list-group">
        <%= link_to tags_url, :class => "list-group-item list-group-item-info", :method => :get do %>
          <span><b> Tags </b></span>
        <% end %>
        <% tags = Tag.all.sort_by{|tag| tag.posts.length * -1} %>
        <% tags.each do |tag| %>
          <% unless tag.posts.length == 0 %>
            <%= link_to (tag), :class => "list-group-item small", :method => :get do %>
              <%= tag.name %>
              <span class="badge"><%= tag.posts.length %></span>
            <% end %>
          <% end %>
        <% end %>
      </ul>
        
    </div>
  </div>
  <br>
</div>


  


