<style>
  .row{
    margin-left: 5px;
  }
</style>
<p id="notice"><%= notice %></p>



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="">Posts</h1>
    
      <% @posts.each do |post| %>
        <div class="row">

          <div class="">
            
            <h4><%= link_to post.title, post, method: :get %></h4>
            <p class="text-muted">
              <cite>
                <% if post.user.is_dev? %>
                  <%= link_to post.user.name.to_s, developer_homepage_path(post.user), class: "text-muted" %>
                <% else %>
                  <%= post.user.name.to_s %>
                <% end %>
              </cite>
            </p>
          </div>

        </div>
      
        <blockquote>
          <div class="row">
            
            <div class="col-md-10">
              <%= get_intro(post.body).html_safe %>
            </div>
            
          </div>
        </blockquote>
        <hr>
      <% end %>
    </div>
  </div>
  <%= link_to "Create a new post", new_post_path, method: :get, class: "btn btn-info"%>
</div>

