<div class="container">
  <div class="row">
    <div class="col-md-9">  
      <h3 class="page-header">Posts</h3>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-9" id="posts-panel">  
      <% @posts.each do |post| %>
        <div class="row">
          <div class="col-md-12">
            <h4><%= link_to post.title, post, method: :get %></h4>
            

            <div class="col-md-8">
                <!-- reserved for tags -->
            </div>


            <div class="col-md-4">
              <p class="text-muted pull-right">
                <cite>
                  <% if post.user.is_developer? %>
                    <%= link_to post.user.name.to_s, developer_homepage_path(post.user), method: :get, class: "text-muted" %>
                  <% else %>
                    <%= post.user.name.to_s %>
                  <% end %>
                </cite>
              </p>
            </div>
          </div>

        </div>
      
        
        <div class="row">
          <div class="col-md-12">
            <%= get_intro(post.body).html_safe %>
          </div>
        </div>
        
        <hr>
      <% end %>
    </div>
    <div class="col-md-2 col-sm-offset-1">

      <%= link_to "Create a new post", new_post_path, method: :get, class: "btn btn-info"%>
      <br><br>
      
      <%= link_to "A bubble chart for tags is available", tags_url, method: :get, class: "text-muted" %>
      <br><br>

      
      <ul class="list-group">
        <%= link_to tags_url, :class => "list-group-item list-group-item-info", :method => :get do %>
          <span><b> Tags </b></span>
        <% end %>
        <% tags = Tag.all.sort_by{|tag| tag.posts.length * -1} %>
        <% tags.each do |tag| %>
          <% unless tag.posts.length == 0 %>
            <%= link_to (tag), :class => "list-group-item", :method => :get do %>
              <%= tag.name %>
              <span class="badge"><%= tag.posts.length %></span>
            <% end %>
          <% end %>
        <% end %>
      </ul>
        
    </div>
  </div>
</div>

