<p id="notice"><%= notice %></p>

<h1 class="">Posts</h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
    
      <% @posts.each do |post| %>
        <div class="row">
          <div class=""><blockquote><h4><%= link_to post.title, post, method: :get %></h4></blockquote></div>
        </div>
      
        <div class="row">

          
          <div class="col-md-10"><%= get_intro(post.body).html_safe %></div>
          <div>
            <h5>
            <% if post.user.is_dev? %>
              <%= link_to post.user.name.to_s, developer_homepage_path(post.user) %>
            <% else %>
              <%= post.user.name.to_s %>
            <% end %>
            </h5>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
  <%= link_to "Create a new post", new_post_path, method: :get, class: "btn btn-info"%>
</div>

