<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">

	<div class="panel panel-default">
	  
	  <div class="panel-body">
	    <div class="page-header">
	      <h3><%= @post.title %></h3>
	  	  <h4>
		    <cite><%= link_to @post.user.name, developer_homepage_path(@post.user) %></cite>
		  </h4>
		</div>
		<div class="col-md-12">
		  <%= @post.body.html_safe %>
		</div>
	    
	  </div>
	</div>
	
	<% if current_user and @post.user.name == current_user.name %>
	  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-info" %>
	<% end %>
  </div>
  <div>
  	<h4 class="page-header">Comments</h4>
  	<div id="comments">
	  <%= render :partial => @post.comments.reverse %>  		
    </div>
  </div>
  
  
  <div class="row">
  	<div class="col-md-8">
  	  <% @comment = @post.comments.new(user_id: current_user.id) %>
	  <%= form_for(@comment, remote: true) do |f| %>

	    <h4 class="page-header">Your comment</h4>
		<div class="field">
		  <%= f.text_area :body, :class => "form-control", data:{ provider: :summernote } %>
		  <span id="helpBlock" class="help-block">Say something about this post</span>
	    </div>
		<div class="actions">
		  <%= f.hidden_field :post_id %>
		  <%= f.hidden_field :user_id %>
		  
		  <%= f.submit "Post your comment", :class => "btn btn-info" %>
		</div>
	  <% end %>
  	</div>
  </div>
</div>

