<div class="container">
  
  <div class="row">
		<div class="panel panel-default col-md-10">

		  <div class="panel-body">
		  	<div class="row">
		    	<div class="page-header">
			    	<h3><%= @post.title %></h3>
			    	<% @post.tags.each do |tag| %>
			    	
			    		<%= link_to tag.name, tag, class: "btn btn-info btn-xs" %>
			    	<% end %>
			    	<% if(@post.is_reference) %>
			    		<br><h5>reference link: </h5>
			    		<%= link_to @post.ref_link, @post.ref_link, :target => '_blank' %>
				    <% end %>
			    </div>
		    </div>
		    
		    <div class="row">
		    	<%= @post.body.html_safe %>
		    </div>
			 	<div class="pull-right">
			  	<p><%= link_to @post.user.name, developer_homepage_path(@post.user), class: "text-right text-muted" %></p>
			  </div>
		  </div>
		  
		</div>
	</div>
	
	

  <% if current_user and @post.user.name == current_user.name %>
		<div class="row">
		  <%= link_to 'Edit', edit_post_path(@post), method: :get, class: "btn btn-info col-md-offset-9" %>
		</div>
  <% end %>


  <div class="row">
	  <div>
	  	<h4 class="page-header">Comments</h4>
	  	<div id="comments">
		  <%= render :partial => @post.comments.reverse %>  		
	    </div>
	  </div>
  </div>
  
  <div class="row">
  	<div class="col-md-8">
  	  <% if(current_user) %>
  	  	<% @comment = @post.comments.new(user_id: current_user.id) %>

			  <%= form_for(@comment, remote: true) do |f| %>

			    <h4 class="page-header">Your comment</h4>
					<div class="field">
					  <%= f.text_area :body, :class => "form-control", data:{ provider: :summernote } %>
					  <span id="helpBlock" class="help-block">Say something about this post</span>
				  </div>
					<div class="actions">
					  <%= f.hidden_field :post_id %>
					  <%= f.hidden_field :user_id %>
					  
					  <%= f.submit "Post your comment", :class => "btn btn-info" %>
					</div>
			  <% end %>
			<% else %>
			  <%= link_to "You can leave comments after logged in", login_url %>
			<% end %>
  	</div>
  </div>
</div>

