<%= form_for(@page_content) do |f| %>
  <% if @page_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page_content.errors.count, "error") %> prohibited this page_content from being saved:</h2>

      <ul>
      <% @page_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :page_name %><br>
    <%= f.text_field :page_name %>
  </div>
  <div class="field">
    <%= f.label :html_content %><br>
    <%= f.text_field :html_content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
