<!-- bootstrap row with width md 8 -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-11">
      <%= form_for(@page_content) do |f| %>
        <% if @page_content.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@page_content.errors.count, "error") %> prohibited this page_content from being saved:</h2>

            <ul>
            <% @page_content.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :page_name %><br>
          <%= f.text_field :page_name %>
        </div>
        <br>
        <div class="field">
          <%= f.label :html_content %><br>
          <%= f.text_area :html_content, :class => "form-control", data:{ provider: :summernote } %>
          <%# f.text_area :html_content, :class => "form-control", :id => "html-content", :rows => "15", :style => "white-space : pre-wrap;" %>
        </div>
        <br>
        <%# content_tag(:a, 'Preview', class: "btn btn-default", id: "preview-button", onclick: "true") %>
        <br>

        <%# link_to "Pre", {:controller => "page_contents", :action => "preview_html", :id => @page_content.id, :preview_content => @page_content.html_content}, :id => "preview", :method => :post, :remote => true %>
        <%# content_tag(:iframe, '', id: "preview-iframe", src: "", width: 560, height: 315, frameborder: 3) %>
        <br>
        

        
        <div class="actions">
          <%= f.submit action_name, :class => "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  
  // $('#preview-button').click(function(){
  //   var preview_src = "";
  //   $('#preview-iframe').attr('src', preview_src + $('#html-content').val());
  //   console.log($('#preview-iframe').attr('src'));
  //   // console.log($('#html-content').val());
    
  //   // console.log($('#html-content').val());
  //   // $('#preview-iframe').contents().find('html').html($('#html-content').val());
  //   $('#preview-iframe').load();
  // });
  // $('#preview').bind('ajax:complete', function() {
    
  // });

    

</script>