<!-- bootstrap row with width md 8 -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-11">
      <%= form_for(@page_content) do |f| %>
        <% if @page_content.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@page_content.errors.count, "error") %> prohibited this page_content from being saved:</h2>

            <ul>
            <% @page_content.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :page_name %><br>
          <%= f.text_field :page_name %>
        </div>
        <br>
        <div class="field">
          <%= f.label :html_content %><br>
          <%= f.text_area :html_content, :class => "form-control", :rows => "15" %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit action_name, :class => "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>