<p id="notice"><%= notice %></p>

<p>
  <strong>Developer:</strong>
  <%= @page_content.user %>
  <%= @page_content.page_name %>
  <%= @page_content.html_content %>

</p>

<%= link_to 'Edit', edit_page_content_path(@page_content), method: :get %> |
<%= link_to 'Back', page_contents_path %>
